<div ng-form="denyModal">

  <!-- Modal Header -->
  <div class="modal-header ui-draggable-handle">
    <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true" aria-label="Close">
      <span aria-hidden="true" class="fa fa-times"></span>
    </button>
    <div class="h3 modal-title" translate>Cannot Apply Network Template</div>
  </div>

  <!-- Modal Body -->
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <fieldset>

          <p>A network template assignment already exists.</p>


        </fieldset>
      </div>
    </div>
  </div>

  <!-- OK -->
  <div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="$dismiss()">
      <span class="fa fa-plus"></span>
      <translate>Ok</translate>
    </button>
  </div>
</div>