/** ELEMENT POSITIONS **/
.dragDropWindow1 { position:relative; top:18%; left:10%; }
.dragDropWindow2 { position:relative; top:18%; left:35%; }
.dragDropWindow3 { position:relative; top:18%; left:60%; }
.dragDropWindow4 { position:relative; top:18%; left:55%}

/** ELEMENTS **/
.drag-drop-demo .window {  
    padding-top:5px; 
    line-height:11px;    
}

.drag-drop-demo a, .drag-drop-demo a:visited {
    color:#057D9F;
}

.drag-drop-demo a:hover {
    color:orange;
}

/** LINKS IN WINDOWS **/
.drag-locked { border:1px solid red; }
.cmdLink { font-size:0.80em;}

/** DRAG/DROP CLASSES **/
.dragActive { border:2px dotted orange; }
.dropHover { border:1px dotted red; }

/** INFO WINDOW **/
#list {
    text-align:center;
    display:none;
    font-size:90%;
    position:absolute;
    width:250px;
    right:10%;
    top:100px;
    background-color:white;
    padding:5px;
    border:1px solid #456;
    opacity:0.8;
    border-radius:8px;
    color:#444;
}
#list table { width:100%;}
#list table th, #list strong { color:black; font-size:12px;}
