{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Network Fabric" %}{% endblock %}

{% block page_header %}
<div class="page-header-container">
  {% include "horizon/common/_page_header.html" with title=_("<img class='big-switch-logo' src='./logo.png'/><span class='page-header-text'></span>") %}
</div>
{% endblock page_header %}



{% block main %}
  <div id="first thing">
      <p> something here </p>
  </div>

  <div id="second thin">
      <p>something else here</p>
  </div>
{% endblock %}
