{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}update_reachability_test_form{% endblock %}
{% block form_action %}{% url 'horizon:project:connections:reachability_tests:update' reachabilitytest.id%}
{% endblock %}

{% block modal-header %}{% trans "Update Reachability Test" %}{% endblock %}
{% block modal_id %}update_security_group_modal{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "From here you can modify a reachability test." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Update Test" %}" />
  <a href="{% url 'horizon:project:connections:index' %}" class="btn secondary cancel close">{% trans "Cancel" %}</a>
{% endblock %}
